
   
    <header>
    <img src="./public/assets/pokemon-23.svg" style="width: 250px">
    

    <div class="nav-bar">

        <a href="/"><div class="nav-elements">
            Home
        </div></a>

        <a href="/about"><div class="nav-elements">
            Tell Me About Pokémon
        </div></a>
    
        <a href="/teamcreator"><div class="nav-elements">
            Team Generator
        </div></a>

    </div>
    
        


    </header>